@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@400;600&display=swap");
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: ciraPro;
    src: url(../webFonts/Fontspring-DEMO-ceraroundpro-medium.otf);
}

body {
    position: relative;
    background-color: #0e1629;
}

img {
    max-width: 100%;
}

.intro {
    background: #161f31;
    margin: 80px 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #3e4555;
    border-radius: 8px;
}


/* .banerImg {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
} */

.content {
    max-width: 50%;
}

.content h3 {
    font-size: 34px;
    font-weight: bold;
    color: #cce8fe;
    margin: 20px 0px;
    font-family: ciraPro;
}

.content h3 span {
    background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: ciraPro;
}

.content p {
    color: #b3d1e9;
    font-size: 18px;
    font-family: ciraPro;
}

.mt-30 {
    margin-top: 50px;
}

.cat-btn-hollder {
    width: 75vw;
    margin: auto;
    margin-top: 40px;
}

.filter {
    font-size: 18px;
    font-weight: bold;
    color: #e0e0f9;
    padding: 5px 15px;
    border: 1px solid #e7ebf4;
    border-radius: 35px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    background: rgb(10, 31, 54);
}

.active {
    background: #021e4b;
    color: #fff;
}

.button-container {
    margin-top: 30px;
}

.content a,
.projectLinks a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #dceafd;
    padding: 10px 15px;
    background-color: #0e1629;
    border-radius: 5px;
    margin: 5px;
    position: relative;
}

.projectLinks a:nth-child(odd) {
    margin-left: 0;
}

.container {
    margin-bottom: 140px;
}

.card {
    max-width: 350px;
    margin: 10px auto;
    padding: 15px;
    background: #161f3153;
    border-radius: 3px;
    z-index: 1;
    border: 1px solid #273148;
    animation: slideInRight;
    animation-duration: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(20px);
}

.card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.projectTitle {
    font-size: 22px;
    font-weight: bold;
    color: #e9edff;
    margin: 20px 0px;
    padding: 5px;
    border: 1px solid #3e4555;
    border-radius: 5px;
    font-family: ciraPro;
}

.greadiant {
    background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shortDescreption {
    color: #d0d6f4;
    line-height: 30px;
    text-transform: capitalize;
    font-weight: 600;
}

.projectLinks a {
    font-size: 16px;
}

.projectLinks {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px;
}

.intro-container {
    max-width: 1200px;
    margin: auto;
}


/* ffrom codepen */

.hide {
    animation: hide 0.5s ease 0s 1 normal forwards;
    transform-origin: center;
    display: none;
}

.show {
    animation: show 0.5s ease 0s 1 normal forwards;
    transform-origin: center;
    display: flex;
    flex-direction: column;
}

@keyframes hide {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
        width: 0;
        height: 0;
        margin: 0;
    }
}

@keyframes show {
    0% {
        transform: scale(0);
        width: 0;
        height: 0;
        margin: 0;
    }
    100% {
        transform: scale(1);
    }
}


/* from coddepen end */


/* popup */

.popup {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7ebf4;
    z-index: 2;
    display: none;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.pCard {
    width: 450px;
    padding: 10px;
    background: #fff;
    border: 1px solid e7ebf4;
    border-radius: 4px;
    color: #232429;
}

.pCard p {
    line-height: 30px;
}

.showPOpup {
    display: flex;
}

.close {
    color: #effff9;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #f6490a;
    text-align: center;
    line-height: 40px;
    margin-bottom: -10px;
    transform: translateY(-10px);
    animation: scaling 1s infinite alternate;
    animation-delay: 3s;
    cursor: pointer;
}

@keyframes scaling {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.stop {
    overflow: hidden;
    position: fixed;
}

.icon-holder {
    position: fixed;
    top: 45vh;
    left: -100px;
    padding: 20px;
    background: #161f31;
    border-radius: 40px;
    z-index: 99;
    transition: 0.5s;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-holder a i {
    font-size: 24px;
    margin: 10px 0;
    transition: 0.5s;
}

.convartToFooter {
    position: fixed;
    top: calc(100vh - 100px);
    width: 100%;
    height: 100px;
    border-radius: 0;
}

.convartToFooter .flex {
    flex-direction: row;
    align-items: center;
}

.convartToFooter .flex i {
    margin: 10px;
}

.icon-holder h3 {
    color: #fff;
    text-align: center;
    font-size: 14px;
}